.keret {
    display: inline;
    float: left;
}
.Adatok {
    background-color: darkkhaki;
    overflow: hidden;
}
li a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}
li a:hover {
    background-color: lightblue;
}


