.keret {
    display: inline;
    float: left;
}
.Adatok {
    padding: 0;
    background-color: darkkhaki;
    overflow: hidden;
}
li a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}
li a:hover {
    background-color: lightblue;
}
.aktív {
    background-color: lightblue;
}
.adatok {
    background-color: lightblue;
}
.források {
    background-color: lightblue;
}
.sikerek {
    background-color: lightblue;
}
.játékosok {
    background-color: lightblue;
}
