h2 {
    color: aqua;
    background-color: darkkhaki;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
}
p {
    font-size: 30px;
    font-family: monospace;
    
    }
.jatekosok {
    border: 3px solid black;
    color: rgb(26, 66, 177);
    text-align: left;
    width: 500px;
    margin: 0 auto;
    background-image: url(images/realmadrid5kicsi.jpg);
}
h1 {
    color: blue;
    text-align: center;
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
hr {
    border: 5px solid blue;
}
body {
    background-image: url(images/realmadridbackgr.jpg);
    background-size: 100%;
}