h2 {
    color: rgb(11, 139, 97);
    background-color: darkkhaki;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
}
p {
    font-size: 30px;
    font-family: monospace;
    
    }
.jatekosok1 {
        border: 1px solid grey;
        color: black;
        text-align: left;
        width: 40%;
        background-image: url(images/realmadrid5kicsi2.jpg);
        background-size: 100%;
        
    }
.ketto {
    width: 30%;
    margin-left: 300px;
}    
.lapozas {
    display: inline-block;
}
.lapozas a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
h1 {
    background-color: darkkhaki;
    color: rgb(11, 139, 97);
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
}
h3 {
    text-align: center;
    font-size: 30px;
    color: red;
    text-decoration: underline red;
}

body {
    background-image: url(images/background2.jpg);
    background-size: 100%;
}
.stadion2 {
    text-align: justify;
}
.stadion3 {
    float: right;
    width: 70%;
    border-radius: 50%;
}
video {
    width: 20%;
    margin-left: 1500px;
}
.container {
    width: 50%;
    position: relative;
    max-width: 300%;
    float: right;
}
.florentino {
    display: block;
    width: 50%;
    height: auto;
    margin-left: 400px;
}
.kiemeles {
    position: absolute;
    bottom: 0;
    background: black;
    width: 46%;
    transition: .5s ease;
    opacity: 0.3 ;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    margin-left: 400px;
}
.konténer {
    width: 47%;
    position: relative;
    max-width: 300%;
    float: left;
}
.carlo {
    display: block;
    width: 50%;
}
.kiemeles2 {
    position: absolute;
    bottom: 0;
    background: black;
    width: 46%;
    transition: .5s ease;
    opacity: 0.5 ;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 30px;
}
.linkek {
    color: black;
    text-decoration: underline;
}
.keret {
    display: inline;
    float: left;
}
.Adatok {
    background-color: darkkhaki;
    overflow: hidden;
}
li a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}
li a:hover {
    background-color: lightblue;
}