h1 {
    text-align: center;
    color: black;
    font-size: 70px;
    margin-top: 100px;
    text-decoration: underline;
}
h1:hover {
    transition: ease-in-out 0.1s;
    scale: 110%;
    text-shadow: 0 0 5px red,
                0 0 25px red,
                0 0 50px red,
                0 0 100px red;
}
h2 {
    color: red;
    background-color: darkkhaki;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
}

p {
    font-size: 30px;
    font-family: monospace;

}

.jatekosok1 {
    border: 1px solid grey;
    color: black;
    text-align: left;
    width: 40%;
    background-image: url("images/realmadrid5kicsi2.jpg");
    background-size: 100%;
    background-repeat: no-repeat;

}

.ketto {
    width: 20%;
    margin-left: 400px;
}
.ketto:hover {
    transition: ease-in-out 0.2s;
    scale: 130%;
    border: 3px solid red;
    box-shadow: 0 0 5px red,
            0 0 10px red,
            0 0 20px red,
            0 0 30px red;
}

.lapozas {
    display: inline-block;
}
.lapozas a:hover {
    border: 1px solid red;
    transition: ease-in-out 0.2s;
    scale: 130%;
}
.lapozas a {
    color: black;
    float: left;
    padding: 8px 16px;
    margin-top: 200px;
    text-decoration: none;
    background-color: darkkhaki;
}

h3 {
    text-align: center;
    font-size: 30px;
    color: red;
    text-decoration: underline red;
}
.linkek:hover {
    color: darkkhaki;
    text-decoration: underline;
}

body {
    background-image: url("images/background2.jpg");
    background-size: 100%;
}

.stadion2 {
    text-align: justify;
}

.stadion3 {
    float: right;
    width: 70%;
    border-radius: 50%;
}
.stadion3:hover {
    transition: ease-in-out 0.3s;
    scale: 120%;
    border: 5px solid red;
    box-shadow: 0 0 5px red,
    0 0 25px red,
    0 0 50px red,
    0 0 100px red;;
}
.container {
    width: 50%;
    position: relative;
    max-width: 300%;
    float: right;
}
.container:hover {
    transition: ease-in-out 0.1s;
    scale: 120%;
    margin-left: 50px;
}
.florentino {
    display: block;
    width: 50%;
    height: auto;
    margin-left: 400px;
}

.kiemeles {
    position: absolute;
    bottom: 0;
    background: black;
    width: 46%;
    transition: .5s ease;
    opacity: 0.3;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    margin-left: 400px;
}

.konténer {
    width: 47%;
    position: relative;
    max-width: 300%;
    float: left;
}

.carlo {
    display: block;
    width: 50%;
}
.konténer:hover {
    transition: ease-in-out 0.1s;
    scale: 120%;
    margin-left: 50px;
}

.kiemeles2 {
    position: absolute;
    bottom: 0;
    background: black;
    width: 46%;
    transition: .5s ease;
    opacity: 0.5;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 30px;
}

.linkek {
    color: black;
    text-decoration: none;
}
.keret {
    display: inline;
    float: left;
}
.Adatok {
    background-color: darkkhaki;
    overflow: hidden;
}

.Adatok a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
    font-size: 30px;
}

.Adatok a:hover {
    text-shadow: 0 0 5px red,
    0 0 25px red,
    0 0 50px red,
    0 0 100px red;
}
.active {
    background-color:rgb(228, 227, 222);
    display: inline;
    float: left;
}
